<p id="notice"><%= notice %></p>

<p>
  <b>ID:</b>
  <%= @vocabulary.id %>
</p>

<p>
  <b>Category:</b>
<% if @vocabulary.category_id %>
    	<%= Category.find(@vocabulary.category_id).name %>
    <% else %>
    (None)
    <% end %>
</p>


<%= link_to 'Edit', edit_language_flashcard_vocabulary_path(@language, @flashcard, @vocabulary) %> |
<%= link_to 'Back', language_flashcard_vocabularies_path(@language, @flashcard) %>
