<%= form_for([@language, @flashcard, @log, @lognote]) do |f| %>
  <% if @lognote.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@lognote.errors.count, "error") %> prohibited this lognote from being saved:</h2>

      <ul>
      <% @lognote.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :vocabulary_id %><br />
    <% if @log.direction == 1 then %>
    <%= select('lognote', 'vocabulary_id', @flashcard.vocabularies.all.collect {|p| [ p.name, p.id ] }, {:include_blank => 'None'}) %>
    <%= hidden_field_tag('lognote[direction]', '1') %>
	<% else %>
    <%= select('lognote', 'vocabulary_id', @flashcard.vocabularies.all.collect {|p| [ p.translation, p.id ] }, {:include_blank => 'None'}) %>	
    <%= hidden_field_tag('lognote[direction]', '2') %>
	<% end %>
  </div>
  <div class="field">
    <%= f.label :failed %><br />
    <%= f.number_field :failed %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
