<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @flashcard.title %>
</p>

<p>
  <b>Desc:</b>
  <%= @flashcard.desc %>
</p>

<hr/>

<p>
  <b>Logs:</b>
  <ul>
<% @flashcard.logs.each do |log| %>
 <li><%= log.start %> &ndash; <%= log.end %>
 (<%= link_to 'Edit', edit_language_flashcard_log_path(@language, @flashcard, log) %> |
 <%= link_to 'Destroy', language_flashcard_log_path(@language, @flashcard, log), confirm: 'Are you sure?', method: :delete %>)</li>
<% end %>
  </ul>
</p>

<%= link_to 'New Log', new_language_flashcard_log_path(@language, @flashcard) %>

<hr/>

<p>
  <b>Vocabularies:</b>
  <ul>
<% @flashcard.vocabularies.each do |vocabulary| %>
 <li><%= vocabulary.id %> <%= link_to 'Edit', edit_language_flashcard_vocabulary_path(@language, @flashcard, vocabulary) %></li>
<% end %>
  </ul>
</p>

<%= link_to 'Edit', edit_language_flashcard_path(@language, @flashcard) %> |
<%= link_to 'Back', language_flashcards_path(@language) %>
