<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @flashcard.title %>
</p>

<p>
  <b>Desc:</b>
  <%= @flashcard.desc %>
</p>

<%= link_to 'Edit this flashcard', edit_language_flashcard_path(@language, @flashcard) %> |
<%= link_to 'Back to all flashcards', language_flashcards_path(@language) %>

<hr/>

<p>
  <b>Logs:</b>
  <ul>
<% @flashcard.logs.each do |log| %>
 <li><%= log.start %> &ndash; <%= log.end %>
 (<%= link_to 'Show', language_flashcard_log_path(@language, @flashcard, log) %> |
 <%= link_to 'Edit', edit_language_flashcard_log_path(@language, @flashcard, log) %> |
 <%= link_to 'Destroy', language_flashcard_log_path(@language, @flashcard, log), confirm: 'Are you sure?', method: :delete %>)</li>
<% end %>
  </ul>
</p>

<%= link_to 'New Log', new_language_flashcard_log_path(@language, @flashcard) %>

<hr/>

<p>
  <b>Vocabularies:</b>
</p>

<table>
<% @flashcard.vocabularies.each do |vocabulary| %>
 <tr>
  <td><%= vocabulary.id %></td>
  <td><%= vocabulary.name %></td>
  <td><%= vocabulary.translation %></td>
  <td><%= link_to 'Edit', edit_language_flashcard_vocabulary_path(@language, @flashcard, vocabulary) %> |
 <%= link_to 'Destroy', language_flashcard_vocabulary_path(@language, @flashcard, vocabulary), confirm: 'Are you sure?', method: :delete %></td>
 </tr>
<% end %>
</table>

<br/><%= link_to 'New Vocabulary', new_language_flashcard_vocabulary_path(@language, @flashcard) %>


